// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image {
    border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
     width: 150px;
   
     }
     .profil{
        
            border: 1px solid #ddd;
            border-radius: 50px;
            padding: 5px;
            width: 50px;
        
          
     }
     .round {
        border-radius: 50%;
        padding: 5px;
            width: 100px;
      }
      .card{
          text-align: center;
          margin-right: 24rem;
          margin-left: 24rem;
      }